<div class="info-wrapper">
    <h4>{{ vm.title }}</h4>

    <div>
        <h1>Introduction</h1>
        <div class="padding-left30">
            <p>
                ETL stands for Extract Transform and Load. Typical an ETL tool is used to extract huge volumes of data from various sources and transform the data dependi­ng on business needs and load into a different destination. In the modern business world the data has been stored in multiple locations and in many incompatible formats. The business data might be stored in different formats such as Excel, plain text, comma separated, XML and in individual databases of various business systems used etc. Handling all this business information efficiently is a great challenge and the ETL tool plays an important role in solving this problem.
            </p>
        </div>
    </div>

    <div>
        <h1>Extract, Transform and Load</h1>
        <div class="padding-left30">
            <p>
                There are three steps involved in an ETL process
            </p>
            <p>
                <strong>Extract:</strong> The first step in the ETL process is extracting the data from various sources. The source is usually flat file, XML, any RDBMS etc.
            </p>
            <p>
                <strong>Transform:</strong> Once the data has been extracted the next step is to transform the data into a desired structure. The data transformation step may include filtering unwanted data, sorting, aggregating, joining data, data cleaning, data validation based on the business need.
            </p>
            <p>
                <strong>Load:</strong> The last step involves the transformed data being loaded into a destination target, which might be a database or a data warehouse.
            </p>
            <p>
                There are many challenges involved in designing an ETL solution. Following some best practices would ensure a successful design and implementation of the ETL solution.
            </p>
        </div>
    </div>


</div>